---
---

@import "{{ site.theme }}";

.inner {
  margin:0 auto;
  width:900px;
}



.wrapper {
  margin:0 auto;
  width:1200px;
}

header {
  -webkit-font-smoothing:subpixel-antialiased;
  float:left;
  position:fixed;
  width:290px;
}

section {
  float:right;
  padding-bottom:50px;
  width:900px;
}
